@import '../../base.scss';

.hotel-general-container{
    background-color: $color-white;
    font-family: proximanova,sans-serif;
    padding: 5px;
    margin: 10px;
    .hotel-img-preview-wrapper{
        .hotel-img-preview{
            width: 95%;
        }
    }
    .hotel-data-wrapper{
        .hotel-name{
            color: $main-color-branding-light;
            font-size: 15px;
            font-weight: bolder;
            margin: 10px 0;
        }
        .hotel-stars-container{
            .star{
                color: $star-color;
                margin: 0 2px;
            }
            margin: 10px 0;
        }
        .hotel-amenities-container{
            margin: 10px 0;
            .amenity{
                .amenity-item{
                margin: 0 2px;
                    color: $amenity-color;
                    width: 25px;
                    height: 25px;
                }
                &-safety-box{
                    content: url(/assets/icons/amenities/safety-box.svg);
                }
                &-nightclub{
                    content: url(/assets/icons/amenities/nightclub.svg);
                }
                &-deep-soaking-bathtub{
                    content: url(/assets/icons/amenities/deep-soaking-bathtub.svg);
                }
                &-beach{
                    content: url(/assets/icons/amenities/beach.svg);
                }
                &-business-center{
                    content: url(/assets/icons/amenities/business-center.svg);
                }
                &-bathtub{
                    content: url(/assets/icons/amenities/bathtub.svg);
                }
                &-newspaper{
                    content: url(/assets/icons/amenities/newspaper.svg);
                }
                &-restaurant{
                    content: url(/assets/icons/amenities/restaurant.svg);
                }
                &-fitness-center{
                    content: url(/assets/icons/amenities/fitness-center.svg);
                }
                &-garden{
                    content: url(/assets/icons/amenities/garden.svg);
                }
                &-bathrobes{
                    content: url(/assets/icons/amenities/bathrobes.svg);
                }
                &-beach-pool-facilities{
                    content: url(/assets/icons/amenities/beach-pool-facilities.svg);
                }
                &-coffe-maker{
                    content: url(/assets/icons/amenities/coffe-maker.svg);
                }
                &-children-club{
                    content: url(/assets/icons/amenities/children-club.svg);
                }
                &-separate-bredroom{
                    content: url(/assets/icons/amenities/separate-bredroom.svg);
                }
                &-kitchen-facilities{
                    content: url(/assets/icons/amenities/kitchen-facilities.svg);
                }
            }
        }
    }
    .hotel-pricing-wrapper{
        
        @media (max-width: $large-res) {
            border-top: 1px dashed $color-gray;
        }
        @media (min-width: $large-res) {
            border-left: 1px dashed $color-gray;
        }
        margin-left: 10px;
        .price-label{
            font-size: 15px;
        }
        .price{
            color: $main-color-orange;
            &-currency{
                font-size: 25px;
            }
            &-value{
                font-size: 35px;
                font-weight: bolder;
            }
        }
        .see-hotel{
            background-color: $main-color-branding;
            color: $color-white;
            font-weight: bolder;
            width: 90%;
        }
    }
}