@import '../../base.scss';

.hotel-general-container{
    background-color: $color-white;
    font-family: proximanova,sans-serif;
    padding: 5px;
    margin: 10px;
    .hotel-img-preview-wrapper{
        .hotel-img-preview{
            width: 95%;
        }
    }
    .hotel-data-wrapper{
        .hotel-name{
            color: $main-color-branding-light;
            font-size: 15px;
            font-weight: bolder;
        }
        .hotel-stars-container{
            .star{
                color: $star-color;
                margin: 0 2px;
            }
        }
        .hotel-amenities-container{
            .amenity{
                margin: 0 2px;
                color: $amenity-color;
                font-size: 25px;
                &-safety-box{
                    &:after{
                        content: "\f023";
                    }
                }
                &-nightclub{
                    &:after{
                        content: "\f000";
                    }
                }
                &-deep-soaking-bathtub{
                    &:after{
                        content: "\f2cd";
                    }
                }
                &-beach{
                    &:after{
                        content: "\f185";
                    }
                }
                &-business-center{
                    &:after{
                        content: "\f1ad";
                    }
                }
                &-bathtub{
                    &:after{
                        content: "\f2cd";
                    }
                }
                &-newspaper{
                    &:after{
                        content: "\f1ea";
                    }
                }
                &-restaurant{
                    &:after{
                        content: "\f0f5";
                    }
                }
                &-fitness-center{
                    &:after{
                        content: "\f44b";
                    }
                }
                &-garden{
                    &:after{
                        content: "\f000";
                    }
                }
                &-bathrobes{
                    &:after{
                        content: "\f2cd";
                    }
                }
                &-beach-pool-facilities{
                    &:after{
                        content: "\f5ca";
                    }
                }
                &-coffe-maker{
                    &:after{
                        content: "\f0f4";
                    }
                }
                &-children-club{
                    &:after{
                        content: "\f1ae";
                    }
                }
                &-separate-bredroom{
                    &:after{
                        content: "\f236";
                    }
                }
                &-kitchen-facilities{
                    &:after{
                        content: "\f0f5";
                    }
                }
            }
        }
    }
    .hotel-pricing-wrapper{
        border-left: 1px dashed $color-gray;
        margin-left: 10px;
        .price-label{
            font-size: 15px;
        }
        .price{
            color: $main-color-orange;
            &-currency{
                font-size: 25px;
            }
            &-value{
                font-size: 35px;
                font-weight: bolder;
            }
        }
        .see-hotel{
            background-color: $main-color-branding;
            color: $color-white;
            font-weight: bolder;
            width: 90%;
        }
    }
}