$main-color-branding: #11407e;
$main-color-branding-light: #157bb1;
$main-gray-background-color: #f4f4f4;
$main-color-orange: #df6800;

$color-white: #fff;
$color-gray: #cccccc;

$star-color: #fdba12;
$amenity-color: #444444;

$small-res: 576px;
$medium-res: 768px;
$large-res: 992px;
$extra-large-res: 1200px;